<% device_session = @current_account_or_token.login_sessions.find_by(mac: device.mac) %>
  <aside id="confirm_delete_device_modal_<%= device.id %>" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <header class="modal-header">
          <h2 style="display:inline-block;max-width:75%">Delete this Device</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fas fa-times"></i></span>
          </button>
        </header>

        <main class="modal-body">

          <p>Are you sure you want to delete
            <%= device.name || device.hostname || device.mac %>
            (<%= device.mac %>)?</p>
        </main>
        <footer class="modal-footer">
          <%= button_to('Delete', {:action => :delete_device, :device_id => device.id}, :class => 'btn btn-lg btn-danger', :data => { :disable_with => 'Please wait...' }) %>

          <button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal">Cancel</button>
        </footer>
      </div>
    </div>
  </aside>
