<aside class="gdpr-popup p-3 d-flex flex-column flex-md-row justify-content-between align-items-center bg-light w-100 border-bottom">
	<p class="m-0">
		This portal requires cookies in order to function properly.  By using this portal, you agree to our use of cookies.
		&nbsp;&nbsp;<%= link_to 'Learn More', action: :cookie_policy %>
	</p>
	<%= link_to 'Close', "gdpr_accept", remote: true, id: 'accept-gdpr', class: 'rg-button btn btn-large btn-primary shadow-sm col-12 col-md-1' %>
</aside>
<script>
	$(() => {
		$('#accept-gdpr').click(() => {
			$('.gdpr-popup').removeClass('d-flex').hide()
		})
	})
</script>