<article class="col-12">
	<h2>Cookie Policy</h2>
	<p>This portal requires cookies in order to function properly, and will not function without them.  By using this portal, you agree to our use of cookies.</p>
	<%= link_to "Back", "index", class: "d-block mx-auto text-center rg-button btn btn-large btn-primary" %>
</article>